.alignRight{
    justify-content: center;
}

.butonSubmit{
    background-color:rgba(252,81,133, 1);
    color: white;
    font-size: 2vw;
    text-align: right;
    margin: 4vw 1vw 2vw;
    border-style: solid;
    border-color:white;
    border-width: 0.5vw;
    border-radius: 1vw;
}

.DescriereData{
    background-color: rgba(252,81,133, 1);
    font-size: 2vw;
    margin-top: 2vw;
    border-bottom: solid;
    border-top: solid;
    border-width: 0.5vw;
}

.DescriereNevoie {
    background-color: rgba(252,81,133, 1);
    font-size: 2vw;
    margin-top: 2vw;
    border-bottom: solid;
    border-top: solid;
    border-width: 0.5vh;
}

.DataFinalizare {
    font-size: 1.5vw;
}

.wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

.wrapper_form{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    background-color:#36506b;
    border: #fc5185;
    border-style: double;
    top: auto;
    bottom: auto;
}

.wrapper_form form{
    text-align: center;
    width: 100%;
    height: auto;
    color: #F5F5F5;
    background-color: #36506b;
}

#descriere_text_box{
    font-size: 1vw;
    margin-bottom: 1vh;
    text-align: center;
    width: 70%;
    height: 20vh;
    margin-top: 0.5vh;
}

@media screen and (max-width:500px) {
    #cantitate{
        display: flex;
        flex-direction: column;
    }
    #cantitate input{
        left: 15%;
        width: 6vw;
    }
    #descriere_text_box {
        font-size: 3vw;
    }

    .DescriereNevoie {
        font-size: 3vw;
    }

    .butonSubmit{
        font-size: 6vw;
    }
    
    .DescriereData{
        font-size: 4vw;
    }

    .DataFinalizare {
        font-size: 5vw;
    }

    label {
        font-size: 4vw;
    }.wrapper_form{
        text-align: center;
        display: flex;
        flex-direction: column;
        width: auto;
        height: 100%;
        background-color:#36506b;
        border: #fc5185;
        border-style: double;
    }
}